.container__menu-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

.container__menu-bar ul{
    display: flex;
    margin: 15px;
}

.container__menu-bar ul li{
    margin-right: 20px;
    list-style: none;
}